<header>

  <img class="logo" src="images/logo.png">

  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">TV Shows</a></li>
    <li><a href="#">Movies</a></li>
    <li><a href="#">My List</a></li>
  </ul>

  <div id="profile">
    <img class="profile_icon" src="images/search.png">
    <img class="profile_icon" src="images/notif.png">
    <img class="profile_icon" src="images/profile.png">

  </div>

</header>

<section id="allVideos">

<section id="your_list">
<h1 class="section_title">YOUR LIST:</h1>

<!-- Loop to get all videos in that category -->
  {{#each videoData}}
      <div class="single_vid">

          <img class="thumbnail" src="images/{{ videos_thumbnail }}">


          <div class="overlay">
            <img class="play-button" src="images/play.png">
              <div class="video_info">
                <h1 class="title">{{ videos_title }} - </h1>
                <h2 class="year">{{ videos_year }}</h2>
                <p class="desc">{{ videos_desc }}</p>
              </div>
          </div>
      </div>

{{/each}}
</section> <!-- end of Your List -->





</section> <!-- end of all videos -->
